{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
     <h1>Welcome to LogPPL</h1>

<p>Welcome to <strong>LogPPL</strong>, a cutting-edge tool designed to revolutionize the way you approach process mining and simulation. LogPPL seamlessly integrates the power of Data Petri Nets (DPNs) with probabilistic programming, enabling you to generate event logs with robust statistical guarantees. Whether you are a researcher looking to explore complex process behaviors or a practitioner aiming to enhance your process analysis, LogPPL offers an intuitive and powerful platform to achieve your goals.</p>

<p>With LogPPL, you can easily transform DPN models into probabilistic programs, configure simulations with precision, and analyze results with confidence. Our tool supports a variety of advanced features, including customizable queries, flexible scheduling options, and the ability to export event logs in the industry-standard XES format. By bridging the gap between DPNs and probabilistic programming, LogPPL empowers you to conduct sophisticated simulations and gain deeper insights into the dynamics of your processes.</p>

<p>Explore the possibilities with LogPPL and take your process mining tasks to the next level with statistical rigor and advanced modeling capabilities.</p>

    <h2>Core Features</h2>

    <p>LogPPL is packed with features that make complex simulation tasks more accessible and efficient:</p>

    <ul>
        <li><strong>DPN Visualization and Loading:</strong> Import your Data Petri Nets in PNML format and visualize them directly within the tool. This feature allows you to better understand your model and prepare for further configuration.</li>
        <li><strong>Configurable Queries and Simulation Parameters:</strong> Customize your simulation by setting up queries, sample sizes, and simulation loops. Whether you need to generate specific scenarios or run comprehensive analyses, LogPPL gives you full control.</li>
        <li><strong>Scheduler Configuration:</strong> Define distributions for prime variables with ease. With 23 built-in distribution functions, you can model your process behavior with high precision, ensuring that your simulations are statistically grounded.</li>
        <li><strong>Simulation and Export:</strong> After configuring your model, run simulations powered by WebPPL. Export the results as event logs in XES format or download the WebPPL code for further customization and analysis.</li>
        <li><strong>Ease of Use:</strong> Designed with user accessibility in mind, LogPPL simplifies complex probabilistic programming tasks, making advanced statistical modeling available to a broader audience, including those without deep expertise in probabilistic methods.</li>
    </ul>

<div class="infobox">
    <span class="book-icon icon"></span>
    <strong>Foundation</strong>

    <p>LogPPL builds on the foundation laid by recent advancements in the intersection of Data Petri Nets and probabilistic programming. For a detailed discussion of the underlying methodologies and theoretical framework that LogPPL implements, please refer to the foundational paper: <em>"Data Petri Nets Meet Probabilistic Programming (Extended Version)"</em> by Martin Kuhn, Joscha Grüger, Christoph Matheja, and Andrey Rivkin (2024). This preprint paper has been accepted for presentation at BPM 2024 and is available on arXiv at the following link: <a href="https://arxiv.org/abs/2406.11883" target="_blank">https://arxiv.org/abs/2406.11883</a>.</p>

    <p>Explore the possibilities with LogPPL and take your process mining tasks to the next level with statistical rigor and advanced modeling capabilities.</p>

</div>


{% endblock %}


